body{
margin: 0px;
}

body {
    margin: 0px;
}

#page {
        background: pink;
}

#cabecalho {
    background: red;
}

#cabecalho img {
    height: 150px;
}

.logo {
    float: left;
    position: relative;
    background: green;
    padding: 0px;
}

.menu_h {
    background: yellow;
    
}

.menu_h ul li {
    
}

.menu_h ul li a {
       background: orange;
    }

.migalhasDePao {
    background: violet;
}

#conteudo {
    background: darkorange;
}

.carrosel {
    
    background: turquoise;
    padding: 0px;
    width: 800px;
}

.carrosel img{
    
    width: 800px;
    
}


.notíciasColuna1 {}

.notíciasColuna2 {}

.aniversariantes {}

#rodape {
    background: blue;
}