body {
    margin: 0px;
}

#page {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

#cabecalho a {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
}

.logo {
    float: left;
    position: relative;
    padding: 0px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.navbar {
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.breadcrumb {
    breadcrumb-divider: none;
}

.carrosel {
    margin: auto;
    /* padding: 100px; */
    margin-bottom: 100px;
    margin-top: 100px;
}

.carousel-item img {
    padding: 5px;
}

.noticiasColuna1 {
    margin: 5px;
    padding: 5px;
}

.noticiasColuna2 {
    margin: 5px;
    padding: 5px;
}

.card {
    padding: 2px;
    margin: 2px;
    border-style: none;
}

.card img {
    border-style: none;
}

.cachorros {
    padding: 0px;
}

.cachorros h5 {
    text-transform: uppercase;
    text-align: center;
    color: blue;
}

.cachorros h6 {
    text-transform: uppercase;
    color: green;
    text-align: center;
    font-size: 30px;
}

.cachorros p {
    text-transform: inherit;
    color: green;
    size: 15px;
    text-align: center;
}

.gatos {
    padding: 0px;
}

.gatos h5 {
    text-transform: uppercase;
    text-align: center;
    color: blue;
}

.gatos h6 {
    text-transform: uppercase;
    color: blue;
    text-align: center;
    font-size: 30px;
}

.gatos p {
    text-transform: inherit;
    color: blue;
    size: 15px;
    text-align: center;
}

.aniversariantes img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 100%;
}

.aniversariantes h5 {
    text-transform: uppercase;
    text-align: center;
    color: orange;
}

.aniversariantes h6 {
    text-transform: uppercase;
    color: orange;
    text-align: center;
    font-size: 30px;
}

.aniversariantes p {
    text-transform: inherit;
    color: orange;
    size: 15px;
    text-align: center;
}

.botaoMensagem {
    background: rgb(247, 196, 87);
    display: block;
    margin: auto;
}

.cardAniversariantes {
    margin-top: 40px;
}

.noticias {
    padding: 10px;
    text-align: justify;
}

hr {
    border-color: #aaa;
    box-sizing: border-box;
    width: 90%;
}

#rodape {
    text-align: center;
    font-family: cursive, 'Times New Roman', Times, serif;
    background: #f1d6b3;
}

#rodape p {
    text-align: right;
}