#page {
    padding: 10px;
}

.logo {
    background-image: url(../imagens/logotipo.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    float: left;
    width: 150px;
    height: 150px;
}

.migalhas {
    padding: 5px;
}

.coluna4 img {
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
}

.coluna4 div {
    display: inline-block;
    position: relative;
    padding: 10px;
}

.menu {
    float: left;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rodape {
    background: #efefef;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    float: left;
    font-size: 80%;
}

.card-body {
    padding: 2px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}