body {
    margin: 0px;
}

#page {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

#cabecalho a {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
}

.logo {
    float: left;
    position: relative;
    padding: 0px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.navbar {
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.breadcrumb {
    background: white;
}

.carrosel {
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.carousel-item img {
    padding: 5px;
}

.noticiasColuna1 {
    margin: 5px;
    padding: 5px;
}

.noticiasColuna2 {
    margin: 5px;
    padding: 5px;
}

.card {
    padding: 2px;
    margin: 2px;
    border-style: none;
}

.card img {
    border-style: none;
}

.adocao {
    padding: 20px;
}

.adocao h5 {
    text-transform: uppercase;
    text-align: center;
    color: green;
}

.adocao h6 {
    text-transform: uppercase;
    color: green;
    text-align: center;
    font-size: 30px;
}

.adocao p {
    text-transform: inherit;
    color: green;
    size: 15px;
    text-align: center;
}

.noticias {
    padding: 20px;
}

.noticias h5 {
    text-transform: uppercase;
    text-align: center;
    color: blue;
    padding: 0px;
}

.noticias h6 {
    text-transform: uppercase;
    color: blue;
    text-align: center;
    font-size: 30px;
}

.noticias p {
    /* text-transform: inherit; */
    color: blue;
    size: 15px;
    text-align: center;
}

.noticias a {
    text-decoration: none;
    text-align: center;
}

.noticias a:hover {
    color: red;
}

.aniversariantes {
    padding: 20px;
}

.aniversariantes img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 100%;
}

.aniversariantes h5 {
    text-transform: uppercase;
    text-align: center;
    color: orange;
}

.aniversariantes h6 {
    text-transform: uppercase;
    color: orange;
    text-align: center;
    font-size: 25px;
}

.aniversariantes p {
    text-transform: inherit;
    color: orange;
    size: 15px;
    text-align: center;
}

.botaoMensagem {
    background: rgb(247, 196, 87);
    display: block;
    margin: auto;
}

.cardAniversariantes {
    margin-top: 40px;
}

/* .noticias {
    padding: 10px;
    text-align: justify;
} */

hr {
    border-color: #aaa;
    box-sizing: border-box;
    width: 90%;
}

#rodape {
    text-align: center;
    font-family: cursive, 'Times New Roman', Times, serif;
    background: #f8f9fa!important;
    /* background: red; */
    position: relative;
    float: left;
}

#rodape p {
    text-align: right;
}

.rh1 {
    /* background: pink; */
    position: relative;
    float: left;
    display: block;
    margin: auto;
}

.rh2 {
    /* background: blue; */
    display: block;
    margin: auto;
}

.rh3 {
    /* background: green; */
    display: block;
    margin: auto;
    position: relative;
    float: left;
}

.rh4 {
    /* background: red; */
    /* position: relative;
    float: left; */
}

.rh5 {
    /* background: orange; */
    /* position: relative;
    float: left; */
}

.btn-dark {
    color: black;
    background-color: white;
    border-color: #343a40;
}

.tabDocumentos {
    margin: 20px;
}

.estoque div{
    display: block;
    margin: auto;
}

.estoque1 {
    width: 100%;
    height: 100%;
    /* background: black; */
    position: relative;
    float: left;
    display: block;
    margin: auto;
}

.estoque2 {
    width: 100%;
    height: 100%;
    /* background: orange; */
    position: relative;
    float: left;
    display: block;
    margin: auto;
}

.estoque3 {
    width: 100%;
    height: 100%;
    /* background: red; */
    position: relative;
    float: left;
    display: block;   
     margin: auto;
}