body {
    margin: 0px;
}

#page {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    float: left;
    position: relative;
    padding: 0px;
}

.navbar {
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.carrosel {
    margin: auto;
    padding: 10px;
}

.carousel-item img {
    padding: 5px;
}

.noticiasColuna1{
    background: rgb(223, 243, 223);
    margin:5px;
    padding: 5px;
}

.noticiasColuna2{
    background: rgb(193, 198, 226);
    margin:5px;
    padding: 5px;
}

.card{
    padding: 2px;
    margin: 2px;
}

.noticias {
    padding: 10px;
    text-align: justify;
}

.noticias h5 {
    text-transform: uppercase;
    text-align: center;
    
}

#rodape {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: #f8f9fa!important;
}

#rodape p {
    text-align: right;
    margin: 2px solid red;
}